<div style=background:#1f1a30  class="wrapper fadeInDown">
    
    
    
    <div id="formContent">
      <!-- Tabs Titles -->
      <DIV> 

        <h1 style =color:black;font-weight:bolder>BikerMice</h1>

    </DIV>
  
    
      <!-- Login Form -->
      
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="contrasena">
        <ion-button color="primary" shape="round" (click)='login()' >Login</ion-button> <br>
        <ion-button color="primary" shape="round" (click)='register()' >Register</ion-button> 
      

        


     
      
  
    </div>
  </div>